/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/media-library
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.env
.php_cs.cache
.phpunit.result.cache
