.DS_Store
.env
.php-cs-fixer.cache
.php_cs.cache
.phpunit.result.cache
/.idea
/.vagrant
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/media-library
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/caddy
frankenphp
frankenphp-worker.php
