
.preloader {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-tooltip + 10;

    .text-wrapper {
        @extend .preloader;

        .text-mask {
            overflow: hidden;
            padding-right: 8px;

            h3 {
                opacity: 0;
            }
        }
    }

    .panel-mask {
        overflow: hidden;

        .panel {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #000000;
        }
    }
}
